
<div class="a">
    <div class="card discord col-md-4 offset-md-4"  >
        <div class="card-body">
          <h4 class="text-center text-success bg-dark" *ngIf="message">{{message}}</h4>
            <h4 class="card-title" style="text-align: center;">Add Books</h4>
<form #addProduct="ngForm"  (ngSubmit)="addProductIntoService()">
    <div class="form-group">
      <label for="bookName">Book Name</label>
      <input type="text" class="form-control"  placeholder="Enter BookName" required [(ngModel)]="book.bookName"   name="bookName">
    </div>
    <div class="form-group">
        <label for="authorName">Author Name</label>
        <input type="text" class="form-control"  placeholder="Enter AuthorName" required [(ngModel)]="book.authorName"  name="authorName">
      </div>
      <div class="form-group">
        <label for="bookCost">Book Cost</label>
        <input type="number" class="form-control"  placeholder="Enter BookCost" required [(ngModel)]="book.bookCost"   name="bookCost">
      </div>
      <div class="form-group">
        <label for="bookType">Book Type</label>
        <input type="text" class="form-control"  placeholder="Enter BookType" required [(ngModel)]="book.bookType"   name="bookType">
      </div>
    
    <button type="submit"class="btn btn-outline-primary offset-md-5">Submit</button>
  </form>
   </div>
    </div>
    </div>
