.discord{
    margin-top: -1300px;
    margin-left: 250px;
background-image: url("lib.png");    


  }
  .table{
      width: 70%;
      margin-left: 170px;
      background-color: silver;
      margin-top: 15px;

      /* position: absolute; */
  }
  h1
  {
    font-size: 30px;
      border:2px solid white;
      /* border-radius:0px 20px 0px 20px; */
      margin: auto;
      padding: 10px;
      width: 360px;
      color: black;
      background: silver;
      box-shadow:0px 0px 10px skyblue;
  }