<div style="margin-top: 150px;">
<div class="card-deck">
    <div class="card bg-primary " >
        
      <div class="card-body text-center">
        <p class="card-text">An integrated library system (ILS), also known as a library management system (LMS), is an enterprise resource planning system for a library, used to track items owned, orders made, bills paid, and patrons who have borrowed.

            An ILS usually comprises a relational database, software to interact with that database, and two graphical user interfaces (one for patrons, one for staff). Most ILSes separate software functions into discrete programs called modules, each of them integrated with a unified interface.</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text"> Examples of modules might include:

            acquisitions (ordering, receiving, and invoicing materials)<br>
            cataloging (classifying and indexing materials)<br>
            circulation (lending materials to patrons and receiving them back)<br>
            serials (tracking magazine, journals, and newspaper holdings)<br>
            online public access catalog or OPAC (public user interface)</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Mainly this module comprises two  fuctionality
            <br>
            1.Admin based<br>
            2.User based
            <br>
            Mainly admin contains the opertions such as:<br>
            
               a) Book Based Operations like ading books,updating books,delete books,view books,add user<br>
                b)User Based Operations like adding user,issuing book to user,tracking return status
            
        </p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">
            User can logged in using the registration details.If not registred first user should request admin to register.
            once it is done <br>
            1.User can login using with the provided credentials<br>
            2.User can search the books if needed<br>
            3.User can request for the books<br>
            
        </p>
      </div>
    </div>
  </div>
</div>