<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<div class= "card discord" >

  
    
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
            <th scope="col">Book Cost</th>
            <th scope="col">Book Type</th>
            <th scope="col">Request Book</th>

    
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <th >{{book.id}}</th>
            <td>{{book.bookName}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.bookCost}}</td>
            <td>{{book.bookType}}</td>
            <td><button type="button" class="btn btn-success">Request</button></td>

    
          </tr>
          
        </tbody>
      </table>
    </div>