<div class= "card discord">
  <!-- <h2 style="text-align: center;">List of Books</h2> -->
<table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Book Id</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
        <th scope="col">Book Cost</th>
        <th scope="col">Book Type</th>
        <th scope="col">Update/Delete</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <th >{{book.id}}</th>
        <td>{{book.bookName}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.bookCost}}</td>
        <td>{{book.bookType}}</td>
        <td><button type="button"  class="btn btn-success" (click)="Update(book.id)">UPDATE</button>
        </td>
        <td><button type="button" style="margin-left: -50px;" class="btn btn-danger" (click)="delete(book.id)">DELETE</button>
        </td>


      </tr>
      
    </tbody>
  </table>
</div>